html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: $font-family-regular;
}

.pack {
  .div {
    input {
      width: 100%;
    }
  }
}

.stretch {
  width: 100%;
}

.widen input select {
  width: 100%;
}

.stretch20 {
  width: 20%;
}

.stretch50 {
  width: 50%;
}

.stretch30 {
  width: 30%;
}

.stretch10 {
  width: 10%;
}

.stretch15 {
  width: 15%;
}

.stretch16 {
  width: 16.66%;
}

.dns-row input {
  padding: 5px;
  border: none;
  border-bottom: dashed 1px #c9c9c9;
  border-right: dashed 1px #c9c9c9;
  transition: border 0.3s;
}

.dns-row input:focus,
.dns-row input.focus {
  border-bottom: dashed 1px #969696;
  border-right: dashed 1px #c9c9c9;
}

.dns-row select {
  padding: 5px;
  width: 100%;
  background-color: white;
  border: none;
  border-bottom: dashed 1px #c9c9c9;
  border-right: dashed 1px #c9c9c9;
  transition: border 0.3s;
}

.dns-row select:focus,
.dns-row select.focus {
  border-bottom: dashed 1px #969696;
  border-right: dashed 1px #c9c9c9;
}

.nav-sidebar {
  width: 100%;
  padding: 8px 0;
  border-right: 1px solid #ddd;
}

.nav-sidebar a {
  color: #333;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.nav-sidebar .active a {
  cursor: default;
  background-color: #428bca;
  color: #fff;
  text-shadow: 1px 1px 1px #666;
}

.nav-sidebar .active a:hover {
  background-color: #428bca;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
  border-right: none;
  border-left: 1px solid #ddd;
}

.nav-sidebar.pull-right a {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.oneclick-image {
  max-width: 120px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 1.2rem;
}

.oneclick-head {
  display: inline-block;
  padding: 0px 1.2rem;
  max-width: 30rem;

}

.oneclick-action {
  float: right;
  padding: 1.2rem;
  display: inline-block;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 4rem 2rem;
  background-color: #FFFFFF;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 10px 16px;
}

.card-link {
  margin-left: 1.25rem;
}


.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: "";
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}
.main-body {
  background-image: url('../images/noise_lines.png');
}

#breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb .fa {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #34495E;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #2C3E50;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #2C3E50;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #2C3E50;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #34495E;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #34495E;
}
#breadcrumb li a:hover {
  background-color: #3498DB;
}
#breadcrumb li a:hover:before {
  border-color: #3498DB;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #3498DB;
}
#breadcrumb li a:active {
  background-color: #2980B9;
}
#breadcrumb li a:active:before {
  border-color: #2980B9;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #2980B9;
}
